:root {
  --theme-color: #d5ac65;
  --sidebar-nav-pagelink-background-image--loaded: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%28213, 172, 101%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E") !important;
  --sidebar-nav-pagelink-background-image--active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%28213, 172, 101%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E") !important;
}

body {
  background: #282c34;
}

aside.sidebar {
  background: #21252b;
}

.sidebar li.active > a {
  background: #3a3f4b !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

*:focus {
  outline: none;
}

.markdown-section code:not([class*='lang-']):not([class*='language-']) {
  background: #3a3f4b !important;
}

/****** Sidebar Toggle ******/

.sidebar-toggle {
  cursor: pointer;
}

.sidebar-toggle .sidebar-toggle-button {
  background: none;
}

body .sidebar-toggle {
  background: none;
  top: 1.5rem;
  left: calc(10px + 1.5rem);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  transition: left 0.25s ease-out;
}

body .sidebar-toggle span {
  background-color: var(--theme-color);
  height: 0.2rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  margin: 0;
  transform-origin: 0;
  border-radius: 1px;
}

body.close .sidebar-toggle {
  transition: left 0.25s ease-out;
  width: 1.5rem;
  height: 1.5rem;
  left: 1.5rem;
}

body.close .sidebar-toggle span {
  transform-origin: center;
}

body .sidebar-toggle span {
  margin-top: 0 !important;
}

body .sidebar-toggle span:nth-child(1) {
  top: 0;
}
body .sidebar-toggle span:nth-child(2) {
  top: 0.5rem;
}
body .sidebar-toggle span:nth-child(3) {
  top: 1rem;
}

.sidebar-toggle:hover {
  opacity: 0.8;
}
.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  body .sidebar-toggle {
    left: 1rem;
    top: 0.25rem;
  }

  body.close .sidebar-toggle {
    left: calc(10px);
    top: 1rem;
  }
}
